<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Bem Vindo<h1>
            <p>Teste de avaliacao em Rails </p>
            <%= link_to 'Empresas', 'companies', :class=> "btn btn-primary" %>
            <%= link_to 'Nova empresa', new_company_path, :class=>"btn btn-secondary" %>
        </div>
    </div>
</div>