<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1>Nova Pessoa Juridica</h1>

        <%= render 'form' %>

        <%= link_to 'Voltar', companies_path , :class=> 'btn btn-primary' %>
        </div>
    </div>
</div>